In [1]:
import lzma
import json
import pandas as pd

In [13]:
# Read job advertisement and event data

In [2]:
# load job ad data in .json.xz format
job_ad_file_path = 'data/ads-50k.json.xz'

job_ad_array = []
# Read the compressed JSON file into a DataFrame
with lzma.open(job_ad_file_path, 'rt', encoding='utf-8') as file:
    for i, line in enumerate(file):
        data = json.loads(line.strip())
        job_ad_array.append(data)
if job_ad_array:
    job_ad_df = pd.DataFrame(job_ad_array)

In [3]:
job_ad_df.head()

,id,title,abstract,content,metadata
0,38915469,Recruitment Consultant,We are looking for someone to focus purely on ...,<HTML><p>Are you looking to join a thriving bu...,{'standout': {'bullet1': 'Join a Sector that i...
1,38934839,Computers Salesperson - Coburg,Passionate about exceptional customer service?...,<HTML><p>&middot;&nbsp;&nbsp;Casual hours as r...,{'additionalSalaryText': 'Attractive Commissio...
2,38946054,Senior Developer | SA,Readifarians are known for discovering the lat...,<HTML><p>Readify helps organizations innovate ...,"{'standout': {'bullet1': 'Design, develop, tes..."
3,38833950,Senior Commercial Property Manager | Leading T...,~ Rare opportunity for a Senior PM to step int...,<HTML><p><strong>WayPoint Recruitment&nbsp;</s...,{'additionalSalaryText': '$140k + Car Park - C...
4,38856271,Technology Manager | Travel Industry,Rare opportunity for an experienced Technology...,<HTML>This is a key role within a market leadi...,{'standout': {'bullet1': 'Lead overarching str...

In [8]:
# Path to your .csv.xz file
event_file_path = 'data/ads-50k-events.csv.gz'

# Read the compressed CSV file into a DataFrame
with lzma.open(event_file_path, 'rt', encoding='utf-8') as file:
    event_data_df = pd.read_csv(event_file_path)

In [9]:
event_data_df.head()

        event_datetime  resume_id    job_id event_platform kind
0  2021-05-01T08:42:05     158655  38820886        IOS_APP    V
1  2021-05-01T08:42:05     158655  38901970        IOS_APP    V
2  2021-05-01T08:42:05     158655  38919645        IOS_APP    V
3  2021-05-01T08:42:05     158655  38928402        IOS_APP    V
4  2021-05-01T08:42:05     158655  38847632        IOS_APP    V

In [11]:
event_data_df['event_platform'].unique()

array(['IOS_APP', 'ANDROID_APP', 'WEB'], dtype=object)

In [12]:
event_data_df['kind'].unique()

array(['V', 'A'], dtype=object)